@function rem($px){
  @return $px / 234 * 1rem;
}
body{
  position: relative;
  background-color:#f3f5f7 ;
}
.headerDiv{
  width: 100%;
  height: rem(268);
  background-image: url("../images/p1/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: -1;
}
.bgShadowDiv{
  z-index: 1000;
  width:100%;
  height: rem(268);
  background-color: rgba(7,17,27,0.5);
  position: absolute;
  top: 0;
  left: 0;
  blur:rem(10);
  .brandTr{
    width: 100%;
    .avatarTd{
      width: rem(128);
      height: rem(128);
      img{
        margin-top: rem(40);
        margin-left: rem(40);
        width: rem(128);
        height: rem(128);
      }
    }
    .brandDetailsTd{
      width:100%;
      .nameDiv{
        margin-top: rem(44);
        margin-left: rem(32);
        img{
          width:rem(60);
          height: rem(36);
        }
        span{
          font-size: rem(32);
          color: #ffffff;
          font-weight: bold;
          padding-left: rem(12);
          line-height: rem(36);

        }
      }
      .sendDiv{
        font-size: rem(24);
        width: 100%;
        box-sizing: border-box;
        padding-left: rem(32);
        margin-top: rem(16);
        color: #ffffff;
        font-weight: rem(200);
        line-height: rem(24);
      }
      .cutActivityDiv{

        margin-left: rem(32);
        margin-top: rem(20);
        img{
          width: rem(24);
          height: rem(24);
        }
        span{
          font-size: rem(24);
          color: #ffffff;
          font-weight: rem(200);
          line-height: rem(24);
          padding-left: rem(8);
        }
      }
    }
  }
  .gongGaoDiv{
    width: 100%;
    height: rem(56);
    background-color: rgba(7,17,27,0.2);
    position:absolute;
    left: 0;
    bottom: 0;
    .gongGaoTr{
      width: 100%;
      overflowX: hidden;
      overflow-y: hidden;
      img{
        margin-top: rem(15);
        margin-left: rem(24);
        width: rem(44);
        height: rem(26);
      }
      .gongGaoSpan{
        width: 100%;
        font-size: rem(18);
        color: #ffffff;
        font-weight: rem(200);
        padding-left: rem(8);
        line-height: rem(56);
      }
    }
  }
  .numDiv{
    width: rem(86);
    height: rem(48);
    background-color: rgba(7,17,27,0.2);
    border-radius: rem(14) rem(16);
    position:absolute;
    right:rem(23);
    bottom: rem(93);
    text-align: center;
    line-height: rem(48);
    color: #ffffff;
    font-size: rem(20);
  }
}
.navDiv{
  width: 100%;
  height: rem(80);
  background-color: #ffffff;
  border-bottom: 2px solid rgba(7,17,27,0.1);
  .item,.pingJia,.shop{
    width: rem(250);
    height: rem(80);
    font-size: rem(28);
    text-align: center;
    line-height: rem(80);
    color: rgb(77,85,93);
  }
}
.shopChangeContent{
  .assessDetailsDiv{
    background-color: #ffffff;
    padding:rem(36)rem(36) rem(0) rem(36);

    width: 100%;
    box-sizing: border-box;
    .collectionTr{
      padding-bottom: rem(36);
      border-bottom: 1px solid rgba(7,17,27,0.1);
      box-sizing: border-box;
      width: rem(678);
      .collectionLeftTd{
        width: 60%;
        .shopTitle{
          font-size: rem(28);
          color: rgb(7,17,27);
          line-height: rem(28);
        }
        .starAndOrderTr{
          margin-top: rem(16);
          .imgTd{

            img{
              width: rem(20);
              height: rem(19);
            }
          }
          .orderTd{
            padding-left: rem(24);
            font-size: rem(20);
            color: rgb(77,85,93);
            line-height: rem(36);
          }
          .starNumTd{
            padding-left: rem(16);
            font-size: rem(20);
            color: rgb(77,85,93);
            line-height: rem(36);
          }
        }
      }
      .collectionRightTd{
        .icon-favorite{
          font-size: rem(48);
          color: rgb(240,20,20);
          line-height: rem(48);
        }
        .favoriteTitle{
          padding-top: rem(8);
          font-size: rem(20);
          color: rgb(77,85,93);
          line-height: rem(20);
        }
      }
    }

  }
  .feeTr{
    border-bottom: 2px solid rgba(7,17,27,0.1);
    width: 100%;
    background-color: #ffffff;
    padding-bottom: rem(36);
    padding-top: rem(36);
    .initPrice,.sendPrice,.sendTime{
      width:rem(250);
      text-align: center;
      .title{
        font-size: rem(20);
        color: rgb(147,153,159);
        line-height: rem(20);
      }
      .money,.sendMoney,.time{
        margin-top: rem(16);
        font-size: rem(48);
        color: rgb(7,17,27);
        line-height: rem(48);
      }
    }
  }
  .ActivityDiv{
    width: 100%;
    border-bottom: 1px solid #e6e7e8;
    border-top: 2px solid #e6e7e8;
    margin-top: rem(32);
    .gongGaoAndActivity{
      background-color: #ffffff;
      padding-bottom: rem(32);
      .title{
        padding-top: rem(36);
        font-size: rem(28);
        color: rgb(7,17,27);
        line-height: rem(28);
        margin-left: rem(36);
      }
      .jianJieDiv{
        padding-top: rem(16);
        margin-left: rem(60);
        font-size: rem(24);
        color: rgb(240,20,20);
        line-height: rem(48);
        font-weight: rem(200);
        width: rem(630);
      }
    }
  }
  .cutContentDiv{
    width: 100%;
    border-bottom: 1px solid #e6e7e8;
    .cutDiv{
      width: 100%;
      background-color: #ffffff;
      border-bottom: 1px solid #e6e7e8;
      .cutTr{
        padding: rem(32);
        img{
          width: rem(32);
          height: rem(32);
        }
        .shuoMing{
          padding-left: rem(12);
          font-size: rem(24);
          color: rgb(7,17,27);
          font-weight: rem(200);
          line-height: rem(32);
        }
      }
    }

  }
  .sceneContent{
    width: 100%;
    .sceneDiv{
      overflow: hidden;
      padding-left: rem(36);
      padding-top: rem(36);
      padding-bottom: rem(36);
      background-color: #ffffff;
      margin-top: rem(32);
      border-bottom: 1px solid #e6e7e8;
      .sceneTitle{
        font-size: rem(28);
        color: rgb(7,17,27);
        line-height: rem(28);
      }
      .imgDiv{
        height: rem(180);
        .img{
          padding-right: rem(12);
          box-sizing: border-box;
          img{
            margin-top: rem(24);
            width: rem(240);
            height: rem(180);
          }

        }
      }

    }
  }
  .shopInfoDiv{
    padding-top: rem(32);
    padding-left: rem(36);
    margin-top: rem(32);
    background-color: #ffffff;
    .shopInfo{
      width: rem(678);
      font-size: rem(28);
      color: rgb(7,17,27);
      line-height: rem(28);
      border-bottom: 1px solid #e6e7e8;
      padding-bottom: rem(24);
    }
  }
  .infoDetailDiv{
    padding-top: rem(32);
    padding-left: rem(36);
    background-color: #ffffff;
    .infoDetail{
      padding-left: rem(24);
      width: rem(678);
      font-size: rem(24);
      color: rgb(7,17,27);
      line-height: rem(32);
      border-bottom: 1px solid #e6e7e8;
      padding-bottom: rem(24);
    }
  }
}

.footerDiv{
  height: rem(116);
  width: 100%;
  background-color: #ffffff;
  .footerBgTr{
    width: 100%;
    height: rem(104);
    background-color: #141d27;
    position: absolute;
    bottom: 0;
    left: 0;
    .shopCarBgDivTd{
      position: absolute;
      bottom: rem(14);
      left: rem(24);
      width: rem(112);
      height: rem(112);
      background-color: #131d26;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      .shipCarContain{
        margin: rem(12);
        width: rem(88);
        height: rem(88);
        background-color: #2b343c;
        border-radius: 50%;
        .icon-shopping_cart{
          text-align: center;
          font-size: rem(48);
          color: #80858a;
          line-height: rem(88);
        }
      }
    }
    .totalPriceTd{
      position: absolute;

      height: rem(48);
      width: rem(200);
      bottom: rem(24);
      left: rem(160);
      font-size: rem(32);
      color: rgba(255,255,255,0.4);
      font-weight: rem(700);
      line-height: rem(48);
    }
    .sendFeeTd{
      border-left: 1px solid rgba(255,255,255,.1);
      position: absolute;
      padding-left: rem(24);
      margin-left: rem(24);
      height: rem(48);
      width: 100%;
      bottom: rem(24);
      left: rem(269);
      font-size: rem(20);
      color: rgba(255,255,255,0.4);
      line-height: rem(48);
    }
    .sendInitPriceTd{
      width: rem(210);
      height: 100%;
      background-color: #2b333b;
      position: absolute;
      bottom: 0;
      right: 0;
      .sendInitPrice{
        margin-left: rem(16);
        margin-top: rem(32);
        width: rem(178);
        height: rem(48);
        text-align: center;
        font-size: rem(24);
        color: rgba(255,255,255,0.4);
        font-weight: rem(700);
        line-height: rem(48);
      }
    }
  }
}
